# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr
.cache
coverage
*.tsbuildinfo

# Environment files
.env
.env.*
!.env.example

# Local config
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# OS files
.DS_Store
.AppleDouble
.LSOverride

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?